*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 1.5rem;
    background-color:  #87CEEB;
    text-transform: capitalize;
    font-weight: bolder;
    box-sizing: border-box;
   

}
.main{
    display: flex;
    justify-content: center; /* horizontally*/
    align-items: center;
    text-align: center;
    
}
.App_name{
    margin-top: 10px;
    color: whitesmoke;
    /* text-decoration-line: underline; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* text-decoration-color: rgb(223, 163, 32); */
    
}
.weather_condition{
    width: 50px;
    height: 60px;
    
}
.famous_city{
    font-size: 1rem;
    font-weight: lighter;
   text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   

}
span{
    margin-left: 60px;
}
.main_box{
    margin-top: 3.5rem;
    width: 500px;
    height: 600px;
    background-color: white;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
    border: 1px solid black;
    background-image: url(./img.jpg);
    background-size: cover;

}
.location{
    margin-top: 20px ;
}
.city{
    margin-top: 60px ;
    color: whitesmoke;
    /* text-decoration-line: underline; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    font-size: 3rem;
}
.search{
    
}
.search_bar{
    width: 70%;
    line-height: 2.5rem;
    border: 2px solid black ;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(186, 244, 14);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    margin-left: -10px;
    /* text-shadow: 5px 5px 10px rgba(20, 149, 189, 0.3); */
    
}
::-webkit-input-placeholder{
    font-size: 1.3rem;
}
.serachtool{
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
   margin-left: 5px;
   padding:5px;
}
.temp{
    color: rgb(245, 242, 242);
    font-size: 2rem;
    font-weight: bolder;
    text-shadow:  2px 2px 3px rgba(169, 221, 25, 0.4);
    margin-left: -10px;
    padding: 5px;
    text-decoration: underline;
    text-align: center;
}
.weather_result{
    margin-top: 90px;
    color: aliceblue;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    padding: 10px;
}
.date_time{
    font-size: 1.5rem;

}
.city_name{
    margin-top: 20px;
    color: rgb(124, 6, 6);
    text-transform: capitalize;
    font-size: 2.5rem;
    
}
.clear{
    font-size: 0.9rem;
    margin-top: 8px;
    font-weight: lighter;


}
.real_temp{
    margin-top: 10px;
}
.serachtool:hover{
    color: #87CEEB;
    cursor: pointer;
}
.famous_city :hover{
    color: red;
    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}